.buzz-header{
    .logo {
        display: block;
        float: left;
        overflow: hidden;
        z-index: 101;
        @extend .toggle-transition;
        button{
            cursor: pointer;
        }
        .logo-lg {
            position: absolute;
            top: 0;
            opacity: 1;
            padding: 15px 0;
            @extend .toggle75-transition;
        }
        .logo-mini {
            opacity: 0;
            @extend .toggle75-transition;
        }
        img{
            position: absolute;
            margin-left: 5px;
            cursor: pointer;
            @extend .toggle75-transition;
        }
    }
    .menu-toggle{
        position: absolute;
        background: $white;
        width: 27px;
        height: 27px;
        left: 178px;
        top: 20px;
        border-radius: 50%;
        border: 1px solid $toggle-border;
        box-shadow: 0px 4px 3px 0px rgba(173, 183, 196, 0.13);
        z-index: 999;
        @extend .toggle-transition;
        button{
            width: 100%;
            height: 100%;
        }
        .icon{
            position: relative;
            top: 0px;
        }
        svg{
            position: relative;
            top: -1.5px;
            right: 2.2px;
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Safari 3-8 */
            transform: rotate(180deg);
            @extend .toggle-transition;
        }
    }
    .buzz-head{
        .buzz-search{
            position: absolute;
            width: 15%;
            top: 15px;
            left: 30px;
            margin-left: 190px;
            @extend .toggle-transition;
            form{
                width: 100%;
                padding: 0;
                margin: 0;
                input{
                    border-bottom: 1px solid $fade-text;
                    border-radius: 5px;
                    font-size: 18px;
                }
                ::placeholder{
                    color: $fade-text;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }
                .el-input__inner{
                    padding-left: 40px;
                }
            }
        }
        .buzz-nav-menu{
            position: absolute;
            right: 30px;
            .buzz-nav{
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 0 12px;
                    &:first-child{
                        img{
                            margin-bottom: 3px;
                        }
                    }
                    button{
                        padding: 0;
                        background: none;
                        span{
                            &:focus{
                                outline: none;
                            }
                        }
                    }
                    .head-icons{
                        .el-badge{
                            vertical-align: unset;
                            .el-badge__content{
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                padding-top: 3px;
                                font-size: 12px;
                            }
                        }
                        button{
                            #user-image{
                                width: 40px;
                                margin-right: 15px;
                                margin-left: 5px;
                                margin-top: 0px;
                            }
                            .arrow-down{
                                width: 30px;
                            }
                            .icon-hover{
                                display: none;
                            }
                            &:hover, .active{
                                .icon-normal{
                                    display: none;
                                }
                                .icon-hover, svg{
                                    display: inline-block;
                                }
                            }
                        }
                    }
                    .email-badge{
                        .el-badge__content{
                            top: 1px !important;
                            right: 12px !important;
                        }
                    }
                    .notif-badge{
                        .el-badge__content{
                            top: 5px !important;
                            right: 14px !important;
                        }
                    }
                    .chat-badge{
                        .el-badge__content{
                            top: 4px !important;
                            right: 11px !important;
                        }
                    }
                }
            }
        }
    }
}
.buzzooka{
    .header-dropdown{
        height: auto;
        width: 470px;
        background: $header-dropdown-bg;
        border: $body-border;
        box-shadow: $body-shadow;
        z-index: 5896;
    }
    .header-data_box{
        // width: 420px !important;
        width: 550px !important;
        padding: 20px 40px;
        top: 58px !important;
        h1{
            margin: 0;
            font-size: 23px;
            color: $table-data;
        }
        button{
            width: 100%;
            height: 50px;
            background: $border-circle;
            border: $input-border;
            border-radius: 5px;
            outline: none;
            font-size: 20px;
            color:  $table-status-text;
            letter-spacing: 0.2px;
            margin-top: 10px;
        }
        .all-template{
            margin-top: 5px;
            top: 20px;
            .template-checkbox{
                position: relative;
                height: 45px;
                label {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    position: relative;
                    top: 6px;
                    left: 0;
                    background: $circle-checkbox;
                    border-radius: 50%;
                    border: $border-buzz;
                    &:after {
                        content: '';
                        position: absolute;
                        width: 17px;
                        height: 7px;
                        top: 10px;
                        left: 6px;
                        border: 3px solid $white;
                        border-top: none;
                        border-right: none;
                        background: transparent;
                        opacity: 0;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        }
                    }
    
                    input[type=checkbox] {
                        visibility: hidden;
                        position: absolute;
                    }
                    input[type=checkbox]:checked + label:after {
                        opacity: 1;
                    }
                    label span {
                        padding-left:45px
                } 
            }
            label{
                vertical-align: middle;
            }
            span{
                position: relative;
                left: 12px;
                top: 7px;
                color: $table-data;
                font-size: 18px;
                font-family: $lato-mid;
            }
        }
        .template-box{
            position: relative;
            background: $template-box;
            text-align: center;
            // width: 150px;
            width: 100%;
            // height: 120px;
            height: 90px;
            border-radius: 10px;
            margin: 5px 0;
            border: 2px solid $template-box;
            &:hover{
                background: $template-hover;
                border: $template-border;
            }
            .template-checkbox{
                position: absolute;
                right: 5px;
                top: 5px;
                img{
                    display: none;
                    width: 20px !important;
                }
            }
            .template-image{
                height: 40px;
                margin-top: 25px;
                img, svg{
                    // width: 35px;
                }
                svg{
                    fill: $template-icon;
                }
            }
            .template-name{
                height: 20px;
                margin-top: 0px;
                h3{
                    margin: 0;
                    font-size: 16px;
                    color: $template-text;
                    font-family: $lato-mid;
                }
            }
        }
        .active{
            background: $white !important;
            .template-checkbox{
                img{
                    display: block !important;
                }
            }
            .template-image, .template-name{
                svg, h3{
                    fill: $blue !important;
                    color: $blue !important;
                    font-family: $lato-semi !important;
                }
            }
        }
    }
    .header-messages{
        top: 60px !important;
        padding: 5px 20px;
        h2{
            color: $table-data;
        }
    }
    .header-notifications{
        height: auto;
        max-height: 560px;
        min-height: 90px;
        top: 70px !important;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        li{
            position: relative;
            padding: 0;
            top: 0 !important;
            height: 80px !important;
            border: $table-border;
            padding: 5px 10px;
            width: 100%;
            margin: 0;
            &:hover{
                background: $gray-bg;
            }
            a{
                .image{
                    img{
                        position: absolute;
                    }
                    .user-image{
                        width: 60px;
                        margin-top: 5px;
                    }
                    .type-image{
                        bottom: 5px;
                        left: 50px;
                        width: 25px;
                    }
                }
                .info{
                    position: relative;
                    left: 75px;
                    p{
                        font-size: 15px;
                        color: $notification-text;
                        font-family: $lato-semi;
                        width: 400px;
                        height: 45px;
                        margin: 0;
                        line-height: 1.2;
                        padding-top: 7px;
                        max-width: 90% !important;
                        white-space: normal !important;
                        .action{
                            font-size: 17px;
                            font-family: $lato-mid;
                            color: $notification-text;
                        }
                    }
                    .date{
                        position: relative;
                        bottom: 5px;
                        font-size: 13px;
                        color: $title-path;
                    }
                }
                .image , .info{
                    display: inline-block;
                    vertical-align: top;
                }
            }
        }
    }
    .header-chat{
        top: 60px !important;
        padding: 0 15px;
        h1{
            margin: 20px 0;
            font-size: 23px;
            color: $table-data;
        }
        .members{
            margin: 10px 0;   
            ul{
                margin: 0;
                padding: 0;
                width: 100%;
                list-style: none;
                white-space: nowrap;
                overflow: hidden;
                li{
                    position: relative;
                    display: inline-block;
                    margin: 0 5px;
                    img{
                        width: 50px;
                        border-radius: 50%;
                        &:focus{
                            outline: none;
                        }
                    }
                    span{
                        position: absolute;
                        bottom: 0px;
                        left: 40px;
                        width: 20px;
                        height: 20px;
                        border: 3px solid #e8eaf6;
                        border-radius: 50%;
                    }
                }
            }
        }
        .chat-content{
            height: auto;
            .chat-body{
                height: 390px !important;
                @extend .buzz-scrollbar;
                .message{
                    padding: 10px 20px;
                    border-bottom: $table-border;
                    .user-info{
                        margin-bottom: 20px;
                        height: 58px;
                         img{
                             width: 50px;
                             height: 50px;
                             border-radius: 50%;
                         }
                         .name{
                             font-size: 16.45px;
                             color: $chat-name;
                             margin: 0 12px;
                         }
                         .date{
                             font-size: 12.5px;
                             color: $title-path;
                             font-family: $lato-mid;
                         }
                         img, h5, span{
                             display: inline-block;
                         }
                    }
                    p{
                        color: $chat-text;
                        font-size: 14.48px;
                    }
                }
                .member{
                    background: $white;
                    span{
                        position: relative;
                        float: right;
                        top: 15px;
                        right: 5%;
                    }
                }
                .me{
                    background: $gray-bg;
                    img , .name{
                        float: right;
                    }
                    .name, span{
                        position: relative;
                        top: 15px;
                    }
                    span{
                        left: 5%;
                    }
                    p{
                        text-align: right;
                    }
                }
            }
            .chat-write{
                height: 60px;
                background: $white;
                padding: 10px 20px;
                border: $table-border;
                border-radius: 6px 0 0 6px;
                box-shadow: $body-shadow;
                form{
                    .chat-input, .chat-buttons{
                        display: inline-block;
                        height: 100%;
                    }
                    .chat-input{
                        margin: 0;
                        padding: 0;
                        width: 70%;
                        textarea{
                            width: 100%;
                            line-height: 20px;
                            font-size: 14.4px;
                            color: $chat-text;
                            resize: none;
                            outline: none;
                            border: none;
                            &::placeholder{
                                color: $title-path;
                            }
                        }
                    }
                    .chat-buttons{
                        width: 30%;
                        float: right;
                        text-align: right;
                        button{
                            margin: 0;
                            padding: 5px;
                            background: none;
                        }
                    }
                }
            }
        }
    }
    .header-user{
        width: 200px !important;
        margin-top: 15px;
        padding: 0px;
        .el-dropdown-menu__item{
            padding: 0;
            &:hover{
                background: none;
                color: unset;
                h3{
                    color: unset;
                }
            }
        }
        .dropdown-content{
            list-style: none;
            padding: 0;
            background: none;
            &:hover{
                background: none;
                color: unset;
                h3{
                    color: unset;
                }
            }
            li{
                height: 50px;
                padding-left: 40px;
                padding-top: 5px;
                &:hover{
                    background: $gray-5;
                }
                a, button{
                    img, h3{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    img{
                        width: 30px;
                    }
                    h3{
                        margin: 0;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}