.sidebar-collapse{
    .logo{
        width: 60px !important;
        @extend .toggle-transition;
        .logo-mini{
            position: relative; 
            opacity: 1;
            left: 2px;
            top: 8px;
            @extend .toggle75-transition;
            img{
                width: 55px;
                height: 33px;
                margin-left: 0 !important;
                margin-top: 0px !important;
                -webkit-transition: margin 0.4s ease;
                transition: margin 0.4s ease;
            }
        }
        .logo-lg{
            opacity: 0;
            @extend .toggle75-transition;
        }
    }
    .menu-toggle{
        left: 70px !important;
        top: 25px;
        @extend .toggle-transition;
        svg{
            left: 0px;
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Safari 3-8 */
            transform: rotate(0deg);
            @extend .toggle-transition;
        }
    }
    .buzz-sidebar{
        width: 60px !important;
        @extend .toggle-transition;
        .sidebar-menu{
            .sidebar-list{
                width: 60px;
                margin-left: 0;
                transition: width 0.3s;
                &:hover{
                    width: 180px !important;
                    transition: width 0.3s;
                    .menu-name{
                        opacity: 1 !important;
                        margin-left: 20px !important;
                    }
                }
                .menu-name{
                    opacity: 0;
                    margin-left: 0;
                    @extend .toggle75-transition;
                }
                .list-item{
                    margin-left: -5px !important;
                    -webkit-transition: margin 0.4s ease;
                    transition: margin 0.4s ease;
                }
            }
            .active{
                width: 75px;
            }
        }
    }
    .buzz-search{
        margin-left: 80px !important;
        @extend .margin-transition;
    }
    .buzz-content{
        margin-left: 60px !important;
        @extend .margin-transition;
    }   
}