.buzz-sidebar{
    .sidebar-menu{
        list-style: none;
        padding: 0;
        margin: 0;
        .sidebar-list{
            height: 50px;
            width: 195px;
            margin-left: 8px;
            border-radius: 5px 0 0 5px;
            padding: 0;
            cursor: pointer;
            &:hover , &:active, &:focus{
                background: $body-bg;
                z-index: 2000;
                @extend .hover-transition;
                a{
                    color: $side-hover;
                }
                .tab-icon{ 
                    fill: $blue;
                    cursor: pointer;
                }
            }
            a{
                color: $side-text;
                .list-item{
                    height: 100%;
                    width: 100%;
                    padding: 10px 0 0 20px;
                    -webkit-transition: margin 0.4s ease;
                    transition: margin 0.4s ease;
                }
                .tab-icon{
                    fill: $white;
                    width: 30px;
                    svg{
                        width: 30px;
                    }
                }
                .menu-name{
                    position:absolute;
                    font-size: 15px;
                    font-family: $lato-semi;
                    line-height: 1.2;
                    margin: 6px 0 0 30px;
                    @extend .toggle-transition;
                }
               
                img{
                    width: 50px;
                }
            }
        }
        .active{
            background: $body-bg;
            z-index: 2000;
            -webkit-box-shadow: -10px 2px 15px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: -10px 2px 15px 0px rgba(0,0,0,0.4);
            box-shadow: -10px 2px 15px 0px rgba(0,0,0,0.4);
            @extend .hover-transition;
            a{
                color: $side-hover;
            }
            .tab-icon{ 
                svg{
                    fill: $blue;
                }
            }
        }
    }
}