
// Body
$body-bg: #f2f1f7;
$input-bg: #fbfcfd;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 12px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

// Font Family
$lato: "lato";
$lato-semi: "lato semibold";
$lato-heavy: "lato heavy";
$lato-mid: "lato medium";
$myriad: "myriad pro";

// Text
$text: #667381;
$text-title: #667383;
$side-text: #fcfcfd;
$side-hover: #6a7784;
$fade-text: #dcdcdc;
$awesome: #9098a3;

// Table
$table-head: rgb(127, 145, 168);
$table-data: rgb(102, 115, 129);
$progress-bg: rgb(236, 241, 245);
$progress-value: rgb(59, 88, 158);
$table-active: rgb(31, 184, 104);
$table-closed: #ff7f80;
$table-hold: #ed8566;
$table-status-text:  rgb(179, 182, 195);

// Color
$white: #ffffff;
$black: #000000;
$blue: #3b589e;
$blue-2: #2b3245;
$gray: #f2f1f7;
$gray-2: #9095a9;
$gray-3: #657186;
$gray-4: #bcc2cf;
$gray-icon: #667381;
$gray-bg: #f8f9fb;
$gray-toggle: #dae1e7;
$gray-scroll: #b3b6c3;
$gray-action: #d4d6df;
$gray-payment: #7f91a8;
$green: #1fb868;
$online: #23bd6b;
$offline: #bfbfbf;

$orange-tile-1: #ed8564;
$green-tile-2: #50b4aa;
$purple-tile-3: #a085d5;
$green-tile-4: #1fb868;
$blue-tile-5: #00a7e5;
$orange-tile-6: #ff7f7e;

// HQ Menu
$hq-icon: rgb(188, 194, 207);
$hq-menu-bg: #4c69ae;


// Border Color
$toggle-border: #e3e6eb;
$tile-border: #dce1e5;

// Border
$border-buzz: 1px solid $tile-border;
$body-border: 1px solid rgb(220, 225, 229);
$section-border: 1px solid rgb(235, 238, 241);
$table-border: 1px solid rgb(220, 225, 229);

// Box Shadow
$body-shadow: 0px 4px 3px 0px rgba(173, 183, 196, 0.13);
$hover-shadow: 0px 10px 10px 0px rgba(173, 183, 196, 0.75);

// Milestone
$milestone-title: rgb(101, 113, 134);

// Member
$settings-icon: rgb(212, 214, 224);
$member-position: rgb(66, 69, 76);
$member-profile: rgb(186, 188, 200);
$member-info: rgb(179, 182, 195);
