.hq-members{
    margin-top: 25px;
    .content-body{
         width: 100%;
         .buzz-section{
             width: 100%;
         }
    }
    .box-head{
        height: 86px;
        padding: 30px 1%;
        @extend .tab-options;
        .tab-option{
            float: right;
            ul{
                li{
                    &:hover{
                        svg{
                            fill: $table-data;
                        }
                    }
                }
                .active{
                    svg{
                        fill: $table-data;
                    }
                }
            }
        }
    }
    .box-body{
        background: $gray-bg !important;
        padding-left: 1%;
        @extend .buzz-scrollbar;
        .member-box{
            padding-bottom: 45px;
            .content-body{
                width: 95%;
                height: 305px;
                margin-top: 3px;
                &:hover{
                    box-shadow: $hover-shadow;
                }
            }
            .pull-center{
                margin-left: 2.5%;
            }
            .member-header{
                height: 41px;
                border-radius: 10px 10px 0 0;
                .member-status{
                    position: absolute;
                    top: 25px;
                    left: 50px;
                    float: left;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                }
                .member-position{
                    position: relative;
                    text-align: center;
                    top: 25px;
                    font-size: 18px;
                    color: $member-position;
                    line-height: 1.2;
                    font-family: $lato-semi;
                    text-transform: capitalize;
                }
                .member-settings{
                    position: relative;
                    right: 10px;
                    bottom: 8px;
                    float: right;
                    svg{
                        fill: $settings-icon;
                    }
                    .dropdown-menu{
                        position: absolute;
                        height: 130px;
                        width: 160px;
                        left: -105px;
                        padding: 0;
                        margin-top: 8px;
                        background: $file-dropdown;
                        box-shadow: $hover-shadow;
                        border: $table-border;
                        &:after{
                            bottom: 100%;
                            right: 18px;
                            border: solid transparent;
                            content: " ";
                            height: 0;
                            width: 0;
                            position: absolute;
                            pointer-events: none;
                            border-bottom-color: $file-dropdown;
                            border-width: 13px;
                        }
                        li{
                            height: 43px;
                            border: none;
                            &:hover{
                                background: $file-dropdown-bg;
                            }
                            a{
                                text-align: left;
                                padding-left: 25px;
                                font-size: 15px;
                                line-height: 2.2;
                                color: $file-dropdown-text;
                                font-family: $lato-semi;
                                letter-spacing: 0.3px;
                            }
                        }
                    }
                }
            }
            .member-body{
                height: 193px;
                text-align: center;
                .member-image{
                    height: 105px;
                    img{
                        width: 105px;
                        border-radius: 50%;
                    }
                }
                .member-name{
                    text-align: center;
                    margin-top: 12px;
                    span{
                        font-size: 18px;
                        color: $member-position;
                        line-height: 1.2;
                        font-family: $lato-semi;
                    }
                }
                .member-profile , .member-country{
                    position: relative;
                    margin-top: 10px;
                    span, a{
                        font-size: 14px;
                        line-height: 1.2;
                        color: $member-info;
                        font-family: $lato-mid; 
                    }
                    svg{
                        margin-right: 6px;
                        vertical-align: sub;
                    }
                }
                .member-profile{
                    float: left;
                    left: 30px;
                }
                .member-country{
                    float: right;
                    right: 30px;
                }
            }
            .member-footer{
                height: 69px;
                background: $gray-bg;
                text-align: center;
                border-radius: 0 0 10px 10px;
                    label{
                        margin-top: 15px;
                        margin-bottom: 0;
                        font-size: 13.8px;
                        font-family: $lato;
                        font-weight: 500;
                        color: $member-position;
                        line-height: 1.2;
                    }
                    span{
                        font-size: 18px;
                        color: $member-position;
                        line-height: 1.2;
                        font-family: $lato-semi;
                    }
            }
        }
    }
    .box-footer{
        font-size: 15px !important;
        padding-top: 1px !important;
    }
}