.hq-menu{
    margin: 0;
    height: 62px;
    background: $white;
    border-bottom: $body-border;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;
        li{
            height: 61px;
            width: 10.86%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            a{
                font-size: 15px;
                color: $hq-icon;
                line-height: 1.2;
                .menu-item{
                    height: 100%;
                    width: 100%;
                    line-height: 4;
                    svg{
                        fill: $hq-icon;
                        margin-right: 5px;
                    }
                    svg, span{
                        vertical-align: middle;
                    }
                    &:hover, &:active, &:focus{
                        background: $hq-menu-bg;
                        svg, span{
                            color: $white;
                            fill: $white;
                        }
                    }
                }
            }
            .router-link-exact-active{
                .menu-item{
                    background: $hq-menu-bg;
                    svg, span{
                        color: $white;
                        fill: $white;
                    }
                }
            }
        }
    }
}