.hq-milestones{
    .buzz-box{
        .box-content{
            height: 408px;
            .milestone-group{
                .milestone{
                    margin: 0;
                    border: $table-border;
                    .milestone-heading{
                        padding: 10px 15px;
                        height: 82px;
                        a{
                            position: relative;
                            top: 17px;
                            left: 10px;
                            line-height: 1.2;
                            font-size: 20px;
                            font-family: $lato-mid;
                            color: $milestone-title;
                            i{
                                position: relative;
                                top: 20px;
                                right: 30px;
                                transform: rotate(180deg);
                                @extend .transform-transition;
                            }
                        }
                        .collapsed{
                            i{
                                transform: rotate(0deg) !important;
                            }
                        }
                    }
                    .milestone-collapse{
                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            li{
                                position: relative;
                                height: 53px;
                                border-top: $table-border;
                                font-size: 19px;
                                font-family: $lato-mid;
                                padding: 10px 25px;
                                &:hover{
                                    background: $gray-bg;
                                    .milestone-sub-option{
                                        li{
                                            display: inline-block;
                                        }
                                    }
                                }
                                .milestone-sub-option{
                                    li{
                                        display: none;
                                        border-top: none;
                                        padding: 0 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .milestone-footer{
            margin-top: 15px;
            a{
                font-family: $lato-semi;
                line-height: 1.2;
                color: $white !important;
                border: $table-border;
                background: $blue;
                border-radius: 40px;
                padding: 18px 50px;
                box-shadow: 0px 5px 5px 0px rgba(173, 183, 196, 0.75);
            }
        }
    }
    .add-milestone{
        position: fixed;
        right: 20px;
        bottom: 40px;
        background: $blue;
        border: $table-border;
        border-radius: 40px;
        box-shadow: $hover-shadow;
        outline: none;
        &:hover{
            span{
                display: inline;
            }
        }
        span{
            position: relative;
            top: 9px;
            font-size: 18.7px;
            color: $white;
            padding: 5px;
            margin-left: 15px;
            vertical-align: top;
            font-family: $lato-semi;
            letter-spacing: 0.3px;
            display: none;
        }
        button{
            width: 46px;
            height: 46px;
            border-radius: 50%;
            border: $table-border;
            border: none;
            outline: none;
            svg{
                margin:  10px 5px;
            }
        }
        
    }
}
  