.hq-reports{
    margin-top: 25px;
    .content-body{
        width: 100%;
        .buzz-section{
            width: 100%;
            padding-top: 20px;
            .buzz-table{
                height: auto !important;
            }
        }
    }
}