.hq-tasks{
// Exclusive CSS
    margin-top: 25px;
    height: 1475px;
    background: $white;
    border: 1px solid $tile-border;
    border-radius: 10px;
    .buzz-box{
        background: none;
        height: 1473px;
        margin-top: 0 !important;
        .box-content{
            height: 1375px !important;
            ul{
                li{
                    a{
                        border: none;
                        background: none;
                    }
                }
            }
            .tab-content{    
                table{
                    height: 1245px;
                    tbody{
                        height: 1180px !important;
                    }
                }
            }
        }
        .box-footer{
            padding-top: 25px !important;
        }
    }
    .task-form{
        margin-top: 20px;
        .el-tabs{
            .el-tabs__nav{
                height: 62px;
                width: 100%;
                .el-tabs__item{
                    width: 45%;
                    height: 60px;
                    padding: 0;
                    &:first-child{
                        margin-right: 50px;
                    }
                }
            }
        }
        .buzz-modal-option{
            margin: 10px -10px 0 -10px !important;
        }
        .task-option{
            width: 100%;
            height: 100%;
            .left, .right{
                height: 100%;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
            }
            .left{
                width: 37%;
                background: $gray-3;
                border-radius: 8px 0 0 8px;
                img{
                    position: relative;
                    top: 9px;
                }
            }
            .right{
                width: 63%;
                background: $white;
                box-shadow: $option-shadow;
                border-radius: 0 8px 8px 0;
                font-size: 23px;
                line-height: 2.5;
                color:  $modal-title;
            }
        }
        .is-active{
            .text-option{
                .left{
                    background: $blue;
                }
            }
            .video-option{
                .left{
                    background: $file-video;
                }
            }
        }
    }
    .add-button{
        position: fixed !important;
        right: 20px !important;
        bottom: 40px !important;
        box-shadow: $hover-shadow !important;
    }
// Dashboard CSS
    .box-tabs{
        ul{
            height: 63px;
            li{
                width: 50%;
                height: 62px;
                padding-top: 10px;
                text-align: center;
                &:first-child{
                    border-right: $border-buzz;
                }
                a{
                    background: none;
                    border: none;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 14px !important;
                    color: $table-data;
                    @extend .buzz-a;
                }
            }
            li.active{
                background: $gray-bg;
            }
        }
        .tasks-option{
            height: 69px;
            padding: 22.5px 0;
            text-align: center;
            border-bottom: $border-buzz;
            .option-list{
                display: inline-block;
                a{
                    padding: 6px 4px 6px 16px;
                    border-radius: 20px;
                    font-size: 13.5px;
                    font-family: $lato-semi;
                    color: $table-head;
                    background: $white;
                    border: $border-buzz;

                    &:active, &:hover{
                    background: $blue-2;
                    color: $white;
                    border: 1px solid $blue-2;
                    }

                    label{
                        padding: 2px 9px;
                        margin-left: 15px;
                        border-radius: 100%;
                        background: $gray-2;
                    span{
                        position: relative;
                        color: $white;
                        top: 1px;
                    }
                    }
                }
            }
            .active{
                a{
                    background: $blue-2;
                    color: $white;
                    border: 1px solid $blue-2;
                }
            }
        }
        .tab-content{
            .tab-table{
                table{
                    width: 100%;
                    thead, tbody tr {
                        display:table;
                        width:100%;
                        table-layout:fixed;
                    }
                    thead{
                        tr{
                        height: 60px;
                        border-bottom: $border-buzz;
                        font-size: 16px;
                        letter-spacing: 0.5px;
                        background: $gray-bg;
                        color: $table-head;
                        @extend .page-title;
                        th{
                            &:first-child{
                                width: 10%;
                            }
                            &:nth-child(2){
                                width: 53%;
                            }
                            &:last-child{
                                position: relative;
                                left: 15px;
                                width: 19%;
                            }
                        }
                        }
                    }
                    tbody{
                        display:block;
                        // height: 243px !important;
                        tr{
                            height: 81px;
                            border-bottom: $border-buzz;
                            &:hover{
                                .hover-display{
                                    display: table-cell;
                                }
                            }
                            &:nth-child(odd){
                                background: $gray-bg;
                            }
                            &:nth-child(even){
                                background: $white;
                            }
                            .hover-display{
                                position: relative;
                                left: 15px;
                            }
                            td{
                                position: relative;
                                img{
                                    width: 55px;
                                    border-radius: 100%;
                                }
                                &:first-child{
                                width: 10%;
                                }
                                &:nth-child(2){
                                width: 53%;
                                padding-right: 25px;
                                @extend .buzz-overflow;
                                }
                                &:last-child{
                                    left: 15px;
                                    width: 19%;
                                }
                                
                            }
                            .task-project{
                                position: relative;
                                bottom: 10px;
                                font-family: $lato-mid;
                                color: $gray-3;
                                font-size: 19px;
                            }
                            .assigned-project{
                                position:absolute;
                                display: block;
                                color: $gray-4;
                                font-size: 11.5px;
                                top:40px;
                            }
                            .status{
                                position: relative;
                                top: 5px;
                                color: $gray-4;
                                font-size: 12px;
                            }
                            .progress{
                                position: relative;
                                top: 5px;
                                width: 70%;
                                height: 6px;
                                border-radius: 20px;
                            }
                            .completed{
                                background: $green;
                            }
                            .pending{
                                background: $orange-tile-6;
                            }
                            .behind{
                                background: $orange-tile-1;
                            }
                        }
                    }
                }
            }
        }
    }
    .selected-task{
        .el-progress-bar{
            position: relative;
            top: -5px;
            padding: 0;
            transform: rotate(180deg);
            .el-progress-bar__inner{
                background: $blue;
            }
        }
        .task-head{
            height: 70px;
            border-bottom: $section-border;
            .user-info{
                vertical-align: top;
                margin-left: 5px;
                img{
                    width: 41px;
                    border-radius: 50%;
                    border: $table-border;
                }
                span{
                    font-size: 14.93px;
                    color: $chat-name;
                    line-height: 1.2;
                    margin: 3px;
                    vertical-align: middle;
                }
            }
            .date{
                position: relative;
                width: 155px;
                margin-left: 2%;
                svg, img{
                    position: absolute;
                    top: 10px;
                    left: 15px;
                }
                input{
                    width: 155px;
                    padding: 0 !important;
                    text-align: center;
                    text-indent: 25px;
                    color: $red;
                    font-family: $lato-mid;
                    &:focus{
                        border: $table-border;
                    }
                }
            }
            .selected-option{
                position: relative;
                float: right;
                border: none;
                ul{
                    border: none;
                    li{
                        width: 39px;
                        height: 39px;
                        border-radius: 50%;
                        border: $table-border;
                        margin-right: 7px;
                        button{
                            svg{
                                position: relative;
                            }
                        }
                        .attachment{
                            svg{
                                top: 7px;
                                left: 3px;
                            }
                        }
                        .sort{
                            svg{
                                top: 5px;
                                left: 2px;
                            }
                        }
                        .selected-close{
                            svg{
                                top: 11px;
                                left: 6px;
                            }
                        }
                    }
                }
            }
            .user-info, .date, .selected-option{
                display: inline-block;
                margin-top: 12px;
            }
            .el-input__icon{
                display: none;
            }
        }
        .task-decription{
            height: 287px !important;
            background: $white !important;
            padding: 20px 0 20px 50px;
            @extend .buzz-scrollbar;
            @extend .buzz-scroll;
            .options{
                button{
                    width: 30%;
                    height: 42px;
                    margin-right: 2.5%;
                    font-size: 15px;
                    font-family: $lato-mid;
                    color: $action-hover;
                    border: $table-border;
                    border-radius: 3px;
                }
            }
            .title{
                color:  $milestone-title;
                font-family: $lato-mid;
                line-height: 1.2;
                letter-spacing: 0.3px;
            }
            .description{
                font-size: 15px;
                color: $table-data;
                font-family: $lato-mid;
                letter-spacing: 0.3px;
            }
        }
        .task-comment{
            height: 65px;
            border-top: $table-border;
            img{
                float:left;
                width: 41px;
                margin: 10px;
            }
            .el-textarea{
                width: 84% !important;
                margin: 10px 0 0 5px;
                textarea{
                    padding: 12px;
                    font-family: $lato-mid;
                    font-size: 12px;
                    color: $table-status-text;
                    text-indent: 5px;
                    &:focus{
                        border-color: $table-border-color;
                    }
                }
            }
        }
    }
}