.buzz-calendar{
    .content-body{
        height: 880px !important;
    }
    .buzz-section{
        height: 830px !important;
    }
    .left-calendar{
        padding: 20px 0 20px 20px;
        margin: 0;
        .calendar-button{
            padding: 0 10px 25px;
            margin: 0;
            .el-button{
                padding: 0;
                margin: 0 6px;
                text-align: center;
                width: 45.5%;
                height: 50px;
                background: $blue;
                color: $white;
                font-size: 17px;
            }
        }
        .calendar-content{
            padding: 20px;
            border: $table-border;
            border-radius: 8px;
            border: $body-border;
            box-shadow: $body-shadow;
            .today{
                text-align: center;
                .image{
                    background: $blue;
                    width: 56px;
                    border-radius: 5px;
                    img{
                        width: 46px;
                        height: 42px;
                        margin-top: 10px;
                    }
                }
                .text{
                    padding-top: 3px;
                    h3{
                        font-size: 24px;
                        color: $table-data;
                        margin: 0;
                        text-align: left;
                    }
                    span{
                        font-size: 17.46px;
                        color: $event-time;
                    }
                }
                .image, .text{
                    height: 58px;
                    margin: 0 7px;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            #calendar{
                .fc-toolbar{
                    padding-top: 30px;
                }
                .fc-center{
                    h2{
                        font-size: 18.5px;
                        color: $table-data;
                    }
                }
                .fc-right , .fc-left{
                    span{
                        font-size: 19px;
                        vertical-align: unset;
                        color: $table-data;
                    }
                }
                .fc-widget-content , .fc-widget-header{
                    border: none !important;
                    min-height: unset !important;
                    font-size: 14px;
                    font-family: $lato-semi;
                    line-height: 2.4;
                    color: $table-data;
                }
                .fc-scroller{
                    height: auto !important;
                    overflow: unset !important;
                }
                .fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number{
                    padding: 0 15px !important; 
                    font-size: 14px;
                    font-family: $lato-semi;
                    line-height: 3;
                    color: $table-data;
                }
            }
            .event-list{
                padding-right: 0;
                span{
                    position: relative;
                    bottom: 3px;
                    left: 7px;
                }
            }
            .event-list, .calendar-list{
                h3{
                    font-size: 15.7px;
                    color:  $table-data;
                }
            }
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{
                    @extend .buzz-overflow;
                    max-width: 100% !important;
                    line-height: 2;
                    .event-item{
                        height: 18px;
                        width: 18px;
                        border-radius: 50%;
                    }
                    span{
                        font-size: 14px;
                        color: $title-path;
                        font-family: $lato-mid;
                    }
                    label, span{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .el-form{
        .el-form-item{
            .el-select{
                width: 65% !important;
            }
        }
    }
    .more{
        span{
            position: absolute;
            width: 125px;
            right: 3px;
            top: 30px;
            font-size: 15px;
        }
        li{
            img{
                display: none;
            }
            &:first-child, &:nth-child(2), &:nth-child(3){
                img{
                    display: inline-block;
                }
            }
            &:first-child{
                left: -25px;
            }
            &:nth-child(2){
                left: -50px;
            }
            &:nth-child(3){
                left: -75px;
            }
        }
    }
    .custom-form{
        .el-form-item{
            .el-input{
                width: 50% !important;
                margin-right: 20px;
            }
            .el-select{
                width: 30% !important;
                .el-input{
                    width: 100% !important;
                }
                input{
                    margin-left: 45px !important; 
                }
            }
            .el-button{
                border: $table-border;
                border-radius: 10px;
                background: $modal-input;
                box-shadow: $body-shadow;
                height: 45px;
                width: 55px;
                vertical-align: top;
                margin-left: 20px;
                svg{
                    fill: $modal-title;
                }
                &:hover{
                    svg{
                        fill: $action-hover-delete;
                    }
                }
            }
            .additional-field{
                margin-left: 19px !important;
                padding: 5px !important;
                svg{
                    width: 39px;
                }
                &:hover{
                    svg{
                        fill: $green;
                    }
                }
            }
        }
    }
// Grid View
    .right-calendar{
        padding: 10px;
        margin: 0;
        .tab-calendar{
            h3{
                position: absolute;
                left: 30px;
                top: 15px;
                font-size: 19.72px;
                color: $table-data;
                float: left;
            }
            .el-tabs--border-card{
                background: unset;
                border: 0;
                box-shadow: unset;
                .el-tabs__header{
                    position: absolute !important;
                    top: 25px;
                    right: 200px;
                    height: 50px;
                    background: none;
                    border: none;
                    padding: 5px 10px;
                    .el-tabs__item{
                        font-size: 19px;
                        color: $calendar-tab-text;
                        border-radius: 6px;
                        border: none;
                    }
                    .el-tabs__item.is-active{
                        color: $table-data;
                        background: none;
                        border: none;
                        svg{
                            fill:  $table-data;
                        }
                    }
                }
                .el-tabs__content{
                    position: unset !important;
                    padding: 37px 0 !important;
                    width: 100%;
                }
            }
            .view-option{
                .option{
                    svg{
                        fill: $table-status-text;
                    }
                    &:hover{
                        svg{
                            fill: $table-data;
                        }
                    }
                }
                .event-option{
                    .el-tabs__header{
                        background: $calendar-tab;
                        top: 20px !important;
                        right: 20px !important;
                        border-radius: 6px;
                        border: $table-border;
                        .el-tabs__item.is-active{
                            color: $table-data;
                            background: $white;
                        }
                    }
                }
            }
        }
        .event{
            margin: 0;
            .event-box{
                float: left;
                width: 46.95%;
                height: 345px;
                border: $table-border;
                padding: 0 20px;
                margin: 10px;
                border-radius: 8px;
                border: $body-border;
                box-shadow: $body-shadow;
                .box-head{
                    height: 52px;
                    top: 0;
                    h2, button{
                        display: inline-block;
                    }
                    h2{
                        font-size: 19.3px;
                        color:  $table-data;
                        line-height: 2.8;
                        margin: 0;
                    }
                    .head-buttons{
                        position: absolute;
                        right: -12px;
                        top: 12px;
                        button{
                           margin: 0 3px;
                            svg{
                                fill: $action;
                            }
                            &:hover{
                                svg{
                                    fill: $action-hover;
                                }
                            }
                        }
                        .calendar-add{
                            position: relative;
                            top: -8px;
                            width: 26px;
                            height: 27px;
                            background: $green;
                            border-radius: 50%;
                            img{
                                position: relative;
                                left: 0.5px;
                                bottom: 0px;
                            }
                        }
                    }
                }
                .box-content{
                    position: relative;
                    text-align: center;
                    height: 231px;
                    .event-item{
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        width: 23px;
                        height: 23px;
                        border-radius: 50%;
                    }
                    .event-time{
                        font-size: 16.95px;
                        color: $event-time;
                        font-family: $lato m;
                        letter-spacing: 0.3px;
                        padding-top: 30px;
                    }
                    .event-name{
                        font-size: 20.3px;
                        color: $table-data;
                        font-family: $lato-semi;
                        @extend .buzz-overflow;
                    }
                    .event-member{
                        position: relative;
                        height: 80px;
                        li{
                            position: relative;
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            display: inline-block;
                            img{
                                position: relative;
                                width: 57px;
                                top: 15px;
                                border-radius: 50%;
                                border: $table-border;
                            }
                        }
                    }
                    .join{
                        margin-top: 10px;
                        height: 35px;
                        color: $white;
                        padding: 0 8%;
                        font-size: 16.95px;
                        border-radius: 3px;
                        &:hover{
                            background: $white;
                        }
                    }
                }
                .box-footer{
                    height: 62px;
                    a{
                        font-size: 10.46px;
                        color:  $table-data;
                        line-height: 3;
                    }
                }   
            }
        }
    }
// List View
    .right-calendar{
        .el-table{
            margin-top: 12px;
            background: none;
            border: $table-border;
            tr{
                border: $table-border;
            }
            th, tr{
                background: none !important;
            }
            .el-table__empty-block{
                height: 630px;
            }
        }
    }
}

.buzzooka{
    .time-option-dropdown{
        width: 175px;
        margin: 0 !important;
        padding: 0;
        .text{
            position: relative;
            top: 5px;
            margin-left: 18px;
            span{
                color: $modal-title;
                font-size: 12px;
                font-weight: bold;
                font-family: $lato;
            }
            .hour{
                margin-right: 32px
            }
        }
        .el-form-item{
            position: relative;
            bottom: 5px;
            margin-bottom: 0;
            .el-select{
                width: 28%;
                margin-left: 6px;
                .el-input{
                    input{
                        padding: 0 !important;
                        border: $input-border;
                        font-size: 9.5px;
                        color: $table-data;
                        text-indent: 4px;
                        background: $white;
                        box-shadow: $box-shadow-inset;
                        height: 21px;
                        &::placeholder{
                            color: $table-data;
                        }
                    }
                    .el-input__suffix{
                        right: 0;
                        .el-input__icon{
                            position:relative;
                            top: 0;
                            height: 21px;
                            border: $input-border;
                            background: $form-caret-bg;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }  
        .add-alarm{
            text-align: center;
            .alarm-btn, .save-alarm{
                padding: 15px;
                width: 70%;
                font-size: 14px;
                border-radius: 5px;
                margin-bottom: 10px;
                box-shadow: $box-shadow-inset !important;
            }
            .alarm-btn{
                background: $orange-tile-6;
                color: $white;
            }
            .set-alarm{
                display: none;
            }
            .save-alarm{
                color: $table-data;
                border: $table-border;
            }
        }
        .showForm{
            .set-alarm{
                display: block !important;
            }
            .alarm-btn{
                display: none;
            }
        }
    }
}
.selected-color{
    position: absolute;
    height: 43px;
    width: 60px;
    z-index: 1;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 5px 0 0 5px;
}
.color-dropdown{
    width: 170px;
    .add-color{
        background: $white;
        position: fixed;
        border-radius: 0 0 5px 5px;
        .color-preview, .add-color-btn{
            width: 148px;
            height: 40px;
            border: $table-border;
            margin: 10px;
            border-radius: 10px;
            .current-color {
                display: inline-block;
                width: 60px;
                height: 100%;
                cursor: pointer;
                vertical-align: middle;
                border-radius: 10px 0 0 10px;
            }
            input{
                width: 50%;
                text-indent: 10px;
            }
        }
    }
    .color-option{
        display: inline-block;
        width: 35%;
        margin: 5px 12px;
        border-radius: 10px;
        height: 50px;
        span{
            display: none;
        }
    }
    .selected{
        &::after{
            -webkit-transform: rotate(45deg) scaleY(1);
            transform: rotate(45deg) scaleY(1);
            
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            content: "";
            border: 2px solid #ffffff;
            height: 17px;
            left: 12px;
            top: 3px;
            width: 4px;
            border-left: 0;
            border-top: 0;
            position: absolute;
            -webkit-transform: rotate(45deg) scaleY(0);
            transform: rotate(45deg) scaleY(0);
            -webkit-transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
            transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
            transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
            transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms, -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
            transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms, -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
            -webkit-transform-origin: center;
            transform-origin: center;
        }
    }
}
.vc-chrome {
    position: absolute;
    top: -43px;
    left: 170px;
    z-index: 9;
}
