.invoice{
    .content-body{
        height: auto !important;
        .buzz-section{
            height: auto !important;
            @extend .buzz-table;
            .invoice-form{
                height: auto !important;
                padding: 50px 115px;
                .form-progress{
                    .form-prog{
                        display: inline-block;
                        vertical-align: top;
                    }
                    .progress{
                        position: relative;
                        top: 6px;
                        width: 46.5%;
                        height: 4px;
                        background: $invoice-progress-bg;
                        box-shadow: none;
                    }
                    .circle{
                        width: 15px;
                        height: 15px;
                        background: $invoice-circle-bg;
                        border: 2px solid $border-circle;
                        border-radius: 50%;
                    }
                    .active-progress{
                        background: $invoice-fill-progress !important;
                    }
                    .active-circle{
                        background: $table-data !important;
                    }
                }
                .form-info{
                    margin: 40px 0;
                    h1{
                        margin: 0;
                    }
                    p{
                        line-height: 2.125;
                        color: $table-data;
                        font-family: $lato-mid;
                        font-size: 18px;
                    }
                }
                .el-form{
                    .el-form-item{
                        display: flex;
                        margin-bottom: 30px;
                        label{
                            width: 250px;
                            font-size: 22px;
                            padding-top: 10px;
                            line-height: 1.2;
                            font-family: $lato-semi;
                        }
                        .el-form-item__content{
                            width: 100%;
                        }
                        .el-input, .el-select{
                            background: $input-bg;
                            border: $input-border;
                            border-radius: 5px;
                            box-shadow: $box-shadow-inset !important;
                            height: 50px;
                            input{
                                height: 100%;
                                font-size: 18px;
                            }
                            .el-icon-circle-close{
                                font-size: 20px !important;
                            }
                        }
                        .el-form-item__error{
                            font-size: 15px;
                            padding-top: 5px;
                        }
                        .el-select{
                            .el-input__suffix{
                                right: 0 !important;
                                background: $form-caret-bg;
                                border-left: $input-border;
                                border-radius: 0 5px 5px 0;
                                width: 55px;
                                i{
                                    color: $form-caret-color;
                                    width: 100%;
                                    font-size: 30px !important;
                                }
                                .el-icon-circle-close{
                                    position: absolute;
                                    right: 90%;
                                    color: #f56c6c !important;
                                    font-size: 20px !important;
                                }
                            }
                        }
                    }
                    .buzz-form-buttons{
                        border: none;
                        list-style: none;
                        padding: 0;
                        margin-left: 23%;
                        li{
                            display: inline-block;
                            vertical-align: middle;
                            background: $blue;
                            height: 60px;
                            width: 30%;
                            border-radius: 5px;
                            margin-right: 2%;
                            a, button{
                                color: $white;
                                font-size: 24.5px;
                                span{
                                    top: 12px;
                                }
                            }
                            .next, .prev{
                                height: 100%;
                                width: 100%;
                                line-height: 2.5;
                            }
                        }
                        .save{
                            background: $gray-bg;
                            border: $input-border;
                            button{
                                color: $table-status-text;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .invoice-template{
                padding: 10px 30px;
                .title{
                    font-size: 60px !important;
                    color: $invoice-title;
                    text-transform: uppercase;
                    letter-spacing: 2px !important;
                }
                .highlights{
                    background: $highlight-bg;
                }
                .text-left{
                    text-align: left;
                    li{
                        text-align: left;
                    }
                }
                .text-right{
                    text-align: right;
                    li{
                        text-align: right;
                    }
                }
                .invoice-info{
                    margin: 10px 0;
                    .informations{
                        margin-left: 20px;
                    }
                    .invoice-num{
                        .text-highlight{
                            font-size: 20px;
                            letter-spacing: 1px;
                            font-weight: bold;
                            background: #fbfdff;
                        }
                        li{
                            padding: 3px 10px;
                        }
                    }
                    .table{
                        tr{
                            td{
                                height: auto;
                                padding: 5px 10px;
                                font-size: 15px;
                                vertical-align: middle;
                                &:first-child{
                                    width: 45%;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                ul{
                    border: none;
                    li{
                        width: 100%;
                        height: auto !important;
                        font-size: 16px;
                        letter-spacing: 0.2px;
                        &:hover{
                            background: none;
                        }
                    }
                }
                .list-invoice{
                    thead{
                        tr{
                            height: auto;
                            th{
                                padding: 0;
                                font-size: 16px;
                                text-align: center;
                                vertical-align: middle;
                                &:first-child{
                                    padding-left: 20px;
                                    text-align: left;
                                }
                            }
                        }
                    }
                    tbody{
                        border: $table-border;
                        tr{
                            td{
                                padding: 0;
                                text-align: center;
                                vertical-align: middle;
                                font-size: 15px;
                                &:first-child{
                                    padding-left: 20px;
                                    text-align: left;
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
                .payments{
                    li{
                        line-height: 30px;
                    }
                }
                .break-list{
                    border: $table-border;
                    tbody{
                        tr{
                            td{
                                height: auto;
                                font-size: 15px;
                                &:last-child{
                                    text-align: right;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
