.payments{
    .content-body{
        .buzz-section{
            text-align: center;
            padding-top: 50px;
            .payment-info{
                height: 101px;
                padding-top: 15px;
                h5{
                    margin: 0;
                    padding: 0;
                    margin-bottom: -5px;
                    font-size: 21px;
                    color: $gray-payment;
                    font-family: $lato-heavy;
                }
                span{
                    padding: 0;
                    margin: 0;
                    font-size: 48px;
                    color: $blue;
                    font-family: $lato-semi;
                }
            }
        
            .payment-graph{
                height: 300px;
                margin-top: 45px;
                .el-progress-circle{
                    height: 250px !important;
                    width: 250px !important;
                }
                .el-progress__text{
                    font-size: 70px !important;
                }
            }
        }
    }
}