.profile{
    .top-profile{
        .cover-photo{
            position: relative;
            height: 406px;
            img{
                height: 100%;
                width: 100%;
            }
            .add-photo, .settings{
                position: absolute;
                border-radius: 5px;
                padding: 5px 5px 2px 5px;
                &:hover, &:active{
                    background: rgba(0, 0, 0, 0.2);
                    span{
                        display: inline-block;
                    }
                }
                span{
                    position: relative;
                    vertical-align: top;
                    display: none;
                    color: $white;
                    top: 4px;
                    padding: 0 10px;
                    font-size: 19px;
                    font-family: $lato-mid;
                }
                .dropdown-menu{
                    top: 61px;
                    right: 0;
                    left: unset;
                    background: $file-dropdown-bg;
                    &:after{
                        bottom: 100%;
                        right: 18px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-bottom-color: $file-dropdown;
                        border-width: 13px;
                    }
                    li{
                        border: none;
                        a{
                            text-align: left;
                            padding-left: 20px;
                            padding-right: 30px;
                            font-size: 15px;
                            line-height: 2.2;
                            color: $file-dropdown-text;
                            font-family: $lato-semi;
                            letter-spacing: 0.3px;
                            &:hover{
                                background: $white;
                            }
                        }
                    }
                }
            }
            .add-photo{
                top: 28px;
                right: 30px;
            }
            .add-photo.open{
                background: rgba(0, 0, 0, 0.2);
                span{
                    display: inline-block;
                }
            }
            .settings{
                bottom: 28px;
                right: 37px;
            }
        }
        .profile-photo{
            height: 0px;
            img{
                position: relative;
                bottom: 128px;
                width: 208px;
                height: 208px;
                border-radius: 50%;
            }
        }
        .social-accounts{
            height: 80px;
            width: 100%;
            background: $gray-bg;
            border-bottom: $section-border;
            ul{
                list-style: none;
                border: none;
                padding: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                .left-social, .right-social{
                    width: 50%;
                    margin-top: 10px;
                    li{
                        padding: 0;
                        background: none;
                        width: 25% !important;
                        display: inline-block;
                        button{
                            background: none;
                            svg{
                                fill: $hq-icon;
                            }
                            &:hover{
                                svg{
                                    fill: $social-hover;
                                }
                            }
                        }
                    }
                }
                .right-social{
                    text-align: right;
                }
            }
        }
        .information{
            position: relative;
            text-align: center;
            height: 138px;
            background: $white;
            border-bottom: $section-border;
            .rate{
                padding-top: 36px;
                h4{
                    font-size: 19px;
                    line-height: 1.2;
                    color: $member-info;
                    font-family: $lato-mid;
                    margin: 0;
                }
                span{
                    font-size: 40px;
                    line-height: 1.2;
                    color: $member-position;
                    font-family: $lato-semi;
                }
            }
            .info{
                padding-top: 25px;
                .member-name{
                    h1{
                        margin: 0;
                        font-size: 25px;
                        line-height: 1.2;
                        color: $member-position;
                        font-family: $lato-heavy;
                        span{
                            position: absolute ;
                            right: 45px;
                        }
                    }
                }
                .member-position{
                    font-size: 19px;
                    line-height: 1.2;
                    color: $member-position;
                    font-family: $lato-semi;
                }
                .member-location{
                    margin-top: 10px;
                    font-size: 16px;
                    color: $member-info;
                    font-family: $lato-semi;
                    svg{
                        vertical-align: middle;
                        margin-right: 6px;
                    }
                }
            }
            .client-info{
                .title{
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 10px;
                }
                h4{
                    margin: 0;
                    color: $gray-4;
                }
                .project-count{
                    font-size: 42px;
                }
                .invoice-count{
                    position: relative;
                    bottom: 5px;
                    font-size: 20px;
                }
            }
            .invoice-payment{
                text-align: left;
            }
        }
    }
    .bottom-profile{
        margin-top: 24px;
        // height: 600px;
        @extend .tab-options;
        .tab-options{
            ul{
                border: none;
                li{
                    border: $body-border;
                    &:hover, &:focus{
                        a{
                            background: $blue !important;
                            svg{
                                fill: $white;
                            }
                        }
                    }
                    a{
                        height: 55px !important;
                    }
                }
                li.active{
                    a{
                        background: $blue !important;
                        svg{
                            fill: $white;
                        }
                    }
                }
            }
            .tabs__bar{
                .tabs__div{
                    border: $body-border;
                    &:hover, &:focus{
                        a{
                            background: $blue !important;
                            svg{
                                fill: $white;
                            }
                        }
                    }
                    .tabs__item{
                        height: 55px !important;
                        svg{
                            fill: $hq-icon;
                        }
                    }
                    .tabs__item--active{
                        background: $blue !important;
                        svg{
                            fill: $white;
                        }
                    }
                }
            }
        }
        .module-tabs{
            ul{
                li{
                    width: 25%;
                    a{
                        padding: 0;
                        padding-top: 15px;
                    }
                }
                .projects{
                    svg{
                        width: 25px;
                    }
                }
                .invoices{
                    svg{
                        width: 27px;
                    }
                }
                .payments, .users{
                    a{
                        padding-top: 10px !important;
                    }
                    svg{
                        width: 40px;
                    }
                }
            }
            .tabs__bar{
                .tabs__div{
                    width: 25%;
                    .tabs__item{
                        padding: 0;
                    }
                }
                .projects{
                    svg{
                        width: 25px;
                    }
                }
                .invoices{
                    svg{
                        width: 30px;
                    }
                }
                .payments{
                    .tabs__item{
                        padding-top: 5px;
                    }
                }
                .payments, .users{
                    .tabs__item{
                        svg{
                            width: 40px;
                        }
                    }
                }
            }
        }
        .social-tabs{
            ul{
                li{
                    width: 33.33%;
                    &:hover{
                        .normal{
                            display: none;
                        }
                        .selected{
                            display: inline-block;
                        }
                    }
                    a{
                        padding: 0;
                        padding-top: 10px !important;
                        img, svg{
                            width: 35px;
                        }
                    }
                    .selected{
                        display: none;
                    }
                }
                .active{
                    .normal{
                        display: none;
                    }
                    .selected{
                        display: inline-block;
                    }
                }
            }
            .tabs__bar{
                .tabs__div{
                    width: 33.33%;
                    &:hover{
                        .normal{
                            display: none;
                        }
                        .selected{
                            display: inline-block;
                        }
                    }
                    .tabs__item{
                        padding: 0;
                        img, svg{
                            width: 35px;
                        }
                    }
                    .tabs__item--active{
                        .normal{
                            display: none;
                        }
                        .selected{
                            display: inline-block;
                        }
                    }
                    .selected{
                        display: none;
                    }
                }
            }
        }
        .tab-content{
            height: auto;
            border: $border-buzz;
            table{
                width: 100%;
                height: auto;
                thead, tbody tr {
                    display:table;
                    width:100%;
                    table-layout:fixed;
                }
                thead{
                    height: 60px;
                    border: none;
                    border-bottom: $border-buzz;
                    font-size: 16px;
                    letter-spacing: 0.5px;
                    background: $gray-bg;
                    color: $table-head;
                    @extend .page-title;
                }
                tbody{
                    display:block;
                    height: auto !important;
                    max-height: 404px !important;
                    tr{
                        height: 70px;
                        border-bottom: $border-buzz;
                        cursor: pointer;
                        &:nth-child(odd){
                            background: $gray-bg;
                        }
                        &:nth-child(even){
                            background: $white;
                        }
                        td{
                            position: relative;
                        }
                    }
                }
            }
            .tab-projects{
                .project-status{
                    height: 65px;
                    padding: 20px 10px;
                    text-align: center;
                    border: $border-buzz;
                    .option-list{
                        display: inline-block;
                        padding: 0 5px;
                        .option-counter{
                            border-radius: 20px;
                            font-size: 13.5px;
                            font-family: $lato-semi;
                            color: $table-head;
                            background: $white;
                            border: $border-buzz;
                            height: 30px;
                            line-height: 30px;

                            span{
                                position: relative;
                                right: 10%;
                            }
        
                            &:active, &:hover{
                                background: $blue-2;
                                color: $white;
                                border: 1px solid $blue-2;
                            }
        
                            .el-badge{
                                position: absolute;
                                right: 8px;
                                top: 6.5px;
                                .el-badge__content{
                                        border-radius: 100%;
                                    background: $gray-2;
                                    color: $white;
                                    width: 25px;
                                    height: 25px;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                    .active{
                        .option-counter{
                                background: $blue-2;
                                color: $white;
                                border: 1px solid $blue-2;
                        }
                    }
                }
                table{
                    thead{
                        tr{
                            th{
                                &:first-child{
                                    width: 60px;
                                }
                                &:nth-child(2), &:last-child{
                                    text-align: left;
                                }
                                &:last-child{
                                    position: relative;
                                    left: 15px;
                                    width: 19%;
                                }
                            }
                        }
                    }
                    tbody{
                        tr{
                            &:hover{
                                .hover-display{
                                    display: table-cell;
                                }
                            }
                            td{
                                &:first-child{
                                    width: 60px;
                                }
                                &:nth-child(2), &:last-child{
                                    text-align: left;
                                }
                                &:last-child{
                                    left: 15px;
                                    width: 19%;
                                }
                            }
                            .hover-display{
                                position: relative;
                                left: 15px;
                            }
                            .status{
                                position: relative;
                                top: 5px;
                                color: $gray-4;
                                font-size: 12px;
                                text-transform: capitalize;
                            }
                            .progress{
                                position: relative;
                                top: 5px;
                                width: 60px;
                                height: 6px;
                                border-radius: 20px;
                            }
                            .completed{
                                background: $green;
                            }
                            .pending{
                                background: $orange-tile-6;
                            }
                            .behind{
                                background: $orange-tile-1;
                            }
                        }
                    }
                    .assignee{
                        width: 90px;
                        img{
                            width: 55px;
                            border-radius: 100%;
                        }
                    }
                    .projects{
                        .project-name{
                            position: relative;
                            bottom: 10px;
                            font-family: $lato-mid;
                            color: $gray-3;
                            font-size: 19px;
                        }
                        .assigned-project{
                            position:absolute;
                            display: block;
                            color: $gray-4;
                            font-size: 11.5px;
                            top:40px;
                        }
                    }
                }
            }
            .tab-invoices{
               table{
                   thead{
                       tr{
                           th{
                                text-align: center !important;
                           }
                       }
                   }
                   tbody{
                       tr{
                           td{
                               text-align: center;
                           }
                           .client{
                            img{
                                width: 45px;
                                margin-right: 10px;
                            }
                        }
                       }
                   }
                } 
            }
            .tab-payments, .tab-users{
                table{
                    tbody, thead{
                        tr{
                            td, th{
                                text-align: center;
                            }
                        }
                    }
                    .client{
                        img{
                            width: 45px;
                            margin-right: 10px;
                        }
                    }
                } 
            }
        }
        .facebook, .instagram, .twitter{
            .facebook-feed, .insta-feed, .twitter-feed{
                background: $white;
                padding: 15px;
                height: auto;
                max-height: 530px;
                .content{
                    background: $gray-bg;
                    padding: 15px;
                    height: auto;
                    min-height: 200px;
                    max-height: 450px;
                    h1{
                        margin: 0;
                        padding: 0;
                        font-size: 25px;
                        line-height: 1.2;
                        color: $feed-text;
                        margin-bottom: 25px;
                    }
                    .feeds{
                        img{
                            width: 100%;
                        }
                    }
                }
                .box-footer{
                    height: 63px;
                }
            }
        }
        .insta-feed{
            padding: 0 !important;
            max-height: 600px !important;
            .content{
                max-height: 529px !important;
                padding: 0 !important;
                .feeds{
                    padding: 20px;
                }
            }
        }
        // .box-footer{
        //     padding-top: 23px;
        //     height: 77px;
        //     background: $white;
        //     font-size: 17.3px;
        // }
    }
}