.projects{
    
    .content-body{
        .buzz-table{
            ul{
                li{
                    width: 50%;
                    height: 56px;
                    background: $gray-bg;
                    text-align: center;
                    &:active, &:focus, &:hover{
                        background: $white;
                    }
                    a{
                        font-size: 18px;
                        height: 56px;
                        line-height: 1.2;
                        padding-top: 20px;
                        color: $table-data;
                        font-family: $lato-semi;
                        text-transform: uppercase;
                        &:active, &:focus, &:hover{
                            background: $white;
                        }
                    }
                }
            }
            .tab-content{
                table{
                    th, td{
                        &:first-child{
                            text-align: left;
                            padding-left: 40px;
                            width: 15%;
                        }
                        &:nth-child(2){
                            width: 10%;
                        }
                        &:nth-child(3){
                            width: 13%;
                        }
                        &:nth-child(5){
                            text-align: left;
                        }
                        &:nth-child(6){
                           width: 15%;
                        }
                        &:nth-child(7){
                            text-align: left;
                         }
                        &:last-child{
                            width: 6%;
                            text-align: left;
                            a{
                                padding-right: 10px;
                            }
                        }
                        
                    }
                    thead{
                        tr{
                            height: 56px;
                            border: $table-border;
                            th{
                                font-size: 15px;
                                text-align:  center;
                                line-height: 1.2;
                                font-family: $lato-semi;
                                color: $table-head;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                font-size: 14px;
                                text-align:  center;
                                vertical-align: middle;
                                color: $table-data;
                                line-height: 1.2;
                                font-family: $lato-semi;
                                &:nth-child(7){
                                    color: $table-status-text;
                                }
                            }
                            .project-progress{
                                height: 11px;
                                background: $progress-bg;
                                border-radius: 20px;
                                border: none;
                                box-shadow: none;
                                margin: 0;
                                .progress-bar{
                                    background: $progress-value;
                                    border-radius: 20px;
                                }
                            }
                            .project-status{
                                height: 5px;
                                border: none;
                                box-shadow: none;
                                margin: 0;
                                margin-top: 3px;
                                width: 60%;
                            }
                            .active{
                                background: $table-active;
                            }
                            .closed{
                                background: $table-closed;
                            }
                            .hold{
                                background: $table-hold;
                            }
                        }
                    }
                }
            }
        }
    }
}