.projects{
    .content-body{
       @extend .buzz-table;
        .el-table{
            th, td{
                &:nth-child(2), &:nth-child(5), &:nth-child(6), &:nth-child(6), &:nth-child(8) {
                    text-align: left !important;
                }
            }
            tbody{
                tr{
                    td{
                        &:nth-child(7){
                            color: $table-status-text;
                        }
                    }
                    .project-progress{
                        height: 11px;
                        background: $progress-bg;
                        border-radius: 20px;
                        border: none;
                        box-shadow: none;
                        margin: 0;
                        .progress-bar{
                            background: $progress-value;
                            border-radius: 20px;
                        }
                    }
                    .project-status{
                        height: 5px;
                        border: none;
                        box-shadow: none;
                        margin: 0;
                        margin-top: 3px;
                        width: 60px;
                    }
                }
            }
        }
        .my-projects, .all-projects{
            .el-table{
                border-top: none !important;
                border: $table-border;
                .el-table__row{
                    cursor: pointer;
                }
            }
        }
    }
}