.reports{
    .content-body{
       @extend .buzz-table;
    }
    .report-content{
        margin-top: 20px;
    }
    .add-reports{
        .v--modal{
            width: 400px !important;
            min-height: 200px !important;
            margin-left: 100px;
            height: min-content !important;
            .buzz-scrollbar{
                height: auto;
                min-height: 150px !important;
                max-height: 450px !important;
            }
            .el-form{
                p{
                    color: $warning;
                    margin: 0;
                }
                .el-input{
                    width: 100% !important;
                }
                .services-form{
                    .el-form-item{
                    margin-bottom: 20px !important;
                    }
                    ul{
                        li{
                            width: 100%;
                            text-align: left;
                            background: #ffffff;
                            border-radius: 5px;
                            margin: 0;
                            margin-bottom: 20px !important;
                            vertical-align: middle;
                            label{
                                width: 85%;
                                height: 100%;
                                padding: 0 15px;
                                font-size: 18px;
                                font-weight: 500;
                                vertical-align: sub;
                            }
                            button{
                                border: none !important;
                                vertical-align: middle;
                                &:hover{
                                    svg{
                                        fill: $action-hover-delete;
                                    }
                                }
                                svg{
                                    width: 20px;
                                    fill: $modal-icon;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}