.settings{
    .content-body{
        .buzz-section{
            .el-form{
                .el-form-item{
                    label{
                        font-size: 23px;
                        line-height: 45px !important;
                        padding: 0 40px 0 0 !important;
                    }
                    .el-form-item__content{
                        .el-input{
                            height: 50px;
                            font-size: 20px;
                        }
                        .el-select{
                            .el-input{
                                .el-input__suffix{
                                    width: 60px;
                                    i{
                                        font-size: 30px !important;
                                    }
                                }
                            }
                        }
                    }
                }
                .buzz-form-button{
                    .el-form-item__content{
                        margin-left: 0px !important;
                        .el-button{
                            height: 60px;
                            font-size: 20px;
                        }
                    }
                }
                .line-2{
                    label{
                        line-height: 25px !important;
                    }
                }
            }
        }
    }
    .general, .company, .invoice, .bank, .cash, .paypal{
        .buzz-section{
            padding: 25px 40px;
            .el-form-item{
                .el-form-item__content{
                    margin-left: 330px !important;
                }
            }
        }
    }
    .support, .form-fields, .cron, .db-backup, .updates{
        .buzz-section{
            padding: 35px 20px;
        }
    }
    .email-templates{
        .buzz-section{
            padding: 20px;
            .el-tabs--border-card{
                box-shadow: none;
                border: none;
            }
            .buzz-form{
                margin-left: 30px !important;
            }
        }
        .el-tabs__item{
            margin: 0;
            border: $table-border;
        }
        .el-tabs__content{
            background: $gray-bg;
            padding: 30px 0 0 0  !important;
            .el-tabs__header{
                width: 30%;
            }
            .el-tabs__item{ //Sidebar
                width: 100% !important;
                height: 80px !important;
                background: $white;
                letter-spacing: 0.5px;
                line-height: 4.5 !important;
                padding: 0 30px !important;
            }
            .el-tabs__active-bar{
                display: none;
            }
            .el-tabs__content{ //Content Form
                padding: 0 !important;
                .el-input{
                    input{
                        border: $input-border;
                    }
                }
                .el-textarea{
                    margin-top: 5px;
                    textarea{
                        border:  $input-border;
                    }
                }
            }
        }
        .el-tabs__nav-wrap{
            &:after{
                display: none;
            }
        }
    }
    .support{
        .el-tabs__content{
            padding: 0 !important;
            .el-table{
                .el-table__row{
                    height: 95px !important;
                    .el-button{
                        margin: 0 10px 0 0 !important;
                        font-size: 15px;
                        height: 50px;
                        padding: 0 2%;
                        &:hover{
                            opacity: 0.8;
                        }
                        span{
                            position: relative;
                            top: 3px;
                        }
                        img{
                            margin-right: 2px;
                        }
                    }
                }
                tr{
                    th, td{
                        padding-left: 20px;
                    }
                    th{
                        color:  $table-head;
                        font-size: 15px;
                    }
                    td{
                        font-size: 14px;
                        color: $table-data;
                    }
                }
            }
        }
    }
    .email-templates, .support{
        .el-tabs__nav{
            width: 100%;
            height: 61px;
            .el-tabs__item{
                width: 50%;
                text-align: center;
                height: 100%;
                font-size: 18px;
                color: $table-data;
                line-height: 3.3;
                text-transform: uppercase;
                &:hover {
                    color: $table-data;
                }
            }
        } 
    }
    .form-fields{
        h2{
            margin: 0;
            font-size: 25px;
            color: $table-data;
            font-family: $lato;
        }
        .client{
            height: 460px !important;
        }
        .project{
            height: 650px !important;
        }
        table{
            width: 100%;
            margin-top: 30px;
            tr{
                border: $table-border;
                th{
                    height: 57px;
                    font-size: 15px;
                    color: $table-head;
                }
                td{
                    height: 95px;
                }
                th,td{
                    padding: 0 25px;
                }
            }
            .el-input{
                border: $input-border;
                width: 100%;
                box-shadow: $box-shadow-inset;
                background: $white;
                border-radius: 5px;
                height: 52px;
                input{
                    height: 100%;
                    width: 100%;
                    font-family: $lato-mid;
                    color: $input-text;
                    padding: 0 15px 0 20px;
                    box-shadow: $body-shadow !important;
                    @extend .buzz-matrix;
                }
            }
            .el-select{
                width: 100%;
                .el-input{
                    box-shadow: $body-shadow !important;
                    .el-input__suffix{
                        right: 0 !important;
                        background: $form-caret-bg;
                        border-left: $input-border;
                        border-radius: 0 5px 5px 0;
                        width: 55px;
                        i{
                            color: $form-caret-color;
                            width: 100%;
                            font-size: 30px !important;
                        }
                    }
                }
            }
        }
    }
    .cron{
        .el-input{
            margin-bottom: 30px;
            input{
                border:  $input-border;
                background: $white;
                border-radius: 5px;
                box-shadow:  $box-shadow-inset;
                height: 64px;
                color: $cron-input;
                font-size: 17px;
            }
        }
        .cron-info{
            background: $white;
            border: $table-border;
            padding: 20px;
            .tip1, .tip2{
                padding: 10px;
                background: $cron-job;
                color: $cron-text;
                border: 1px solid $cron-border;
                font-family: $lato;
                font-size: 13px;
                font-weight: 400;
                i,svg{
                    margin-right: 5px;
                }
            }
            .tip3{
                padding: 10px;
                background: $cron-warning;
                color: $cron-text2;
                border: 1px solid $cron-border2;
                font-family: $lato;
                font-size: 13px;
                font-weight: 400;
                i,svg{
                    margin-right: 5px;
                    color: $cron-info;
                }
            }
        }
    }
    .db-backup{
        .db-loader{
            text-align: center;
            padding: 20px 0 70px;
            h3{
                margin-top: 40px;
                font-size: 20px;
                color: $file-dropdown-text;
                font-family: $lato;
                letter-spacing: 0.3px;
                font-style: italic;
            }
        }
        .el-table{
            border: $table-border;
            .el-table__row{
                height: 95px !important;
                .el-button{
                    margin: 0 10px 0 0 !important;
                    font-size: 15px;
                    height: 50px;
                    padding: 0 4%;
                    &:hover{
                        opacity: 0.8;
                    }
                    span{
                        position: relative;
                        top: 2px;
                    }
                    img{
                        margin-right: 5px;
                    }
                }
            }
            thead{
                tr{
                    th{
                        background: $gray-bg;
                    }
                }
            }
            tr{
                th, td{
                    padding-left: 20px;
                }
                th{
                    color:  $table-head;
                    font-size: 15px;
                }
                td{
                    font-size: 14px;
                    color: $table-data;
                }
            }
        }
    }
    .updates{
        .text-version{
            background: $modal-input;
            border: $table-border;
            height: 61px;
            padding: 0 10px;
            color: $table-head;
            font-size: 15.2px;
            line-height: 4;
        }
        .number-version{
            background: $white;
            border: $table-border;
            height: 100px;
            padding: 0 10px;
            color: $table-head;
            font-size: 15.2px;
            line-height: 6;
            text-indent: 25px;
        }
        .updates-info{
            margin-top: 15px;
            background: $white;
            border: $table-border;
            height: 328px;
            padding: 10px;
            h2{
                color: $table-head;
            }
            .dashed {
                margin: 0;
                padding: 0;
                list-style-type: none;
                li {
                    color:  $table-head;
                    font-size: 21px;
                    line-height: 1.2;
                    font-family: $lato;
                    font-weight: 400;
                    span{ 
                        font-family: $lato-semi;
                    }
                    &:before {
                        content: "-";
                        margin-right: 5px;
                    }
                }
            }
            h3{
                font-size: 24px;
                font-family: $lato;
                font-weight: 100;
                color: $warning;
            }
            button{
                background: $form-button;
                border-radius: 5px;
                height: 66px;
                font-size: 21px;
                color: $white;
                padding: 15px;
                margin-top: 15px;
            }
        }
    }
}

.settings-menu{
    margin: 0;
    height: 62px;
    background: $white;
    border-bottom: $body-border;
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        display: block;
        li{
            height: 61px;
            width: 9.7%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            a{
                font-size: 15px;
                color: $hq-icon;
                line-height: 1.2;
                cursor: pointer;
            }
            .menu-item{
                height: 100%;
                width: 100%;
                line-height: 0;
                padding-top: 25px;
                span{
                    font-family: $lato-mid;
                    font-size: 15.4px;
                    color: $hq-icon;
                    line-height: 1.2;
                }
                &:hover{
                    background: $hq-menu-bg;
                    span{
                        color: $white;
                    }
                }
            }
            .payment-settings{
                padding-top: 15px;
            }
        }
    }
}

.sidebar-collapse{
    .settings-menu{
        .payment-settings{
            padding-top: 25px !important;
        }
    }
}